.box {
    height: auto !important;
    background: #84c0e4;
    box-shadow: 0px 10px 20px -13px rgba(0,0,0,0.75);
    width: auto !important;
    margin: 30px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 1em !important;
    padding: 10px;
}

.dropdown-menu {
    position: relative;
    height: 200px;
    width: auto;
    overflow-y: auto;
    overflow-x: auto;
}